<h1>Shopping Cart</h1>

<button (click)='newItem = true'>Add</button>

<section class='flex-row-space-evenly pinkbg title'>
    <p class='small'>#</p>
    <p class='large'>Product</p>
    <p>Price</p>
    <p>Quantity</p>
    <p class='small'>Delete</p>
</section>

<section class='flex-row-space-evenly item' *ngFor='let item of cartItems'>
    <p class='small'>{{item.id}}</p>
    <p class='large'>{{item.product}}</p>
    <p>{{item.price | currency}}</p>
    <p>{{item.quantity}}</p>
    <button class='small' (click)='deleteItem(item)'>X</button>
</section>

<div class=pop-up-bg *ngIf='newItem'>
    <section class=pop-up-form>
        <div class='flex-row'>
            <h2>New Item</h2>
            <button class='small float-right' (click)='newItem = false'>X</button>
        </div>
        
        <form>
            <label for='product'>Product</label>
            <input type='text' name='product' id='product' [(ngModel)]='newProduct'/>

            <label for='price'>Price</label>
            <input type='number'name='price' id='price' [(ngModel)]='newPrice'/>

            <label for='quantity'>Quantity</label>
            <input type='number'name='quantity' id='quantity' [(ngModel)]='newQuantity'/>
        </form>
        
        <button (click)='addItem(newProduct, newPrice, newQuantity)'>Add Item</button>
    </section>
    
</div>
